# ==========================
# Java / Spring Boot
# ==========================
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# ==========================
# Node / React
# ==========================
node_modules/
dist/
build/
coverage/

# ==========================
# Environment Variables
# ==========================
.env
.env.local
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs & Uploads
# ==========================
*.log
logs/
uploads/

# ==========================
# Temporary
# ==========================
temp/
tmp/

# ==========================
# Python / FastAPI
# ==========================
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
# Raw Dataset
ai-service/dataset/original/
